.post-body {
    h1 {
        font-size: 2em;
        border-bottom: 2px solid #fff;
    }
    h2 {
        font-size: $font-size-largest;
        border-bottom: 1px solid #aaa;
    }
    ul {
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
    p {
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}